<?xml version="1.0" ?><settings><messages>1</messages><wall>1</wall><phototag>1</phototag><pokes>1</pokes><friendCheck>1</friendCheck><shareCheck>1</shareCheck><groupCheck>1</groupCheck><eventCheck>1</eventCheck><startConnected>1</startConnected><updateInterval>1</updateInterval><popUpLinger>5</popUpLinger></settings>